{% extends 'base.html.twig' %}
{% block body %}
    <h1>Dodaj kategorie </h1>
    {{ form_start(form) }}
    <div class="form-control">
        Nazwa:
        {{ form_widget(form.name) }}
        <div class="form-error">
            <b>{{ form_errors(form.name) }}</b>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}